{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "14"
                }
            }
        ],
        "@babel/typescript"
    ],
    "plugins": ["@babel/proposal-class-properties"]
}
