@media (max-width: 480px) {
    .body {
        background: #000 url("images/background_480.jpg");
    }
}

@media (max-width: 795px) {
    .body {
        background: #000 url("images/background_795.jpg");
    }
}

@media (max-width: 1050px) {
    .body {
        background: #000 url("images/background_1050.jpg");
    }
}

@media (max-width: 1261px) {
    .body {
        background: #000 url("images/background_1261.jpg");
    }
}

@media (min-width: 1262px) {
    .body {
        background: #000 url("images/background_1380.jpg");
    }
}

body,
html {
    height: 100%;
    font: "Helvetica Neue", Arial, sans-serif;
}

.body {
    margin: 0;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3em;
    margin-right: -50%;
    width: 60%;
    background: black;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

.header__text {
    padding-top: 2rem;
    text-align: center;
}

.header__img {
    display: block;
    width: 25%;
    min-width: 200px;
    margin: auto;
    opacity: 1;
}

.content {
    padding-top: 0.5rem;
    margin: auto;
    text-align: center;
}

.content__button {
    display: block;
    min-width: 100px;

    padding: 1rem;
    margin: auto;

    font-size: medium;
    cursor: pointer;

    border-radius: 10px;
}

.content__button:hover {
    opacity: 0.75;
}

.content__button:nth-child(2) {
    margin: 1.5rem auto 0;
}

@media (max-width: 450px) {
    .main {
        padding: 2em;
    }

    .header__img {
        min-width: 125px;
    }

    .header__text {
        font-size: larger;
    }

    .content__button {
        font-size: small;
    }
}
