.body {
	color: #fff;
	background: #000 url('backgroung.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.header__text {
	padding-top: 2rem;
	text-align: center;
}

.header__img {
	display: block;
	width: 25%;
	height: 25%;
	padding: 1rem;
	margin: auto;
}

.main {
	padding-top: 2rem;
	text-align: center;
}